[submodule "inference/external/confidential-sidecar-containers"]
	path = inference/external/confidential-sidecar-containers
	url = https://github.com/microsoft/confidential-sidecar-containers
[submodule "rag/external/genai-stack"]
	path = rag/external/genai-stack
	url = https://github.com/docker/genai-stack
