version= 1.0;

authorizationrules
{
[type=="x-ms-sevsnpvm-hostdata", value=="$CCE_POLICY_HASH"] 
&& [type=="x-ms-compliance-status", value=="azure-compliant-uvm"]
=> permit();
};

issuancerules
{
=> issue(type="CompliantMLInferenceService", value=true);
};